<ul class="navbar-nav mr-auto">
	<li class="nav-item nav-icon">
		<a  data-toggle="tooltip" data-toggle="tooltip" data-placement="bottom" title="check us out on GitHub" href="https://github.com/moby/moby/blob/master/README.md">
		<i class="fa fa-github" aria-hidden="true"></i></a>
	</li>
	<li>
		<a class="nav-item nav-icon"> 
		<a data-toggle="tooltip"  data-toggle="tooltip" data-placement="bottom" title="follow us on Twitter" href="https://twitter.com/moby"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	</li>
	<li><a class="primary-nav-link nav-item" href="https://blog.mobyproject.org/">Blog</a></li>
	<li><a class="primary-nav-link nav-item" href="{{ 'summit' | relative_url }}">Summit</a></li>
	<li><a class="primary-nav-link nav-item" href="{{ 'community' | relative_url }}">Community</a></li>
	<li><a class="primary-nav-link nav-item" href="{{ 'projects' | relative_url }}">Projects</a></li>
	<li><a class="primary-nav-link" href="https://forums.mobyproject.org/" target="_blank">Forum</a></li>
</ul>
