<ul class="navbar-nav mr-auto">
	<li class="nav-item nav-icon">
		<a title="GitHub" href="https://github.com/moby/moby#readme">
		<i class="fa fa-github" aria-hidden="true"></i></a>
	</li>
	<li><a class="primary-nav-link nav-item" href="{{ 'community' | relative_url }}">Community</a></li>
	<li><a class="primary-nav-link nav-item" href="{{ 'projects' | relative_url }}">Projects</a></li>
	<li><a class="primary-nav-link" href="https://github.com/moby/moby/discussions" target="_blank">Discussions</a></li>
</ul>
