/*
*
* base
*
*/
body {
    // background: $bg-body;
    // color: $base-font-color;
    font-family: $font;
    font-size: $base-font-size;
    // -webkit-text-stroke-width: .05px;
    // -webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // padding-top: 60px;
    // height: 100%;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: $primary-links;
    text-decoration: underline;
    font-weight: 500;
    outline: none;
    &:hover {
        opacity: .8;
        text-decoration: none;
    }
}
/*
*
* Main Header ***********************************************************************
*
*/
header {
    background-color: #101e26;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1029;
}

/*
*
* Sections + Content ***********************************************************************
*
*/
section {
    padding: 3rem;
    float: left;
    width: 100%;
}

.content {
    padding: 50px 0;
    // height: 100vh;
}
/*
*
* Footer ***********************************************************************
*
*/
footer.footer {
    background: $bg-nav;
    min-height: $nav-height;
    width: $full-width;
    padding: 1.3rem 0 1rem 0;
    float: left;
    ul {
        display: inline;
        li {
            display: inline;
            a {
                color: #cfd2d3;
                text-decoration: none;
                font-size: 14px;
                padding: 0 10px 10px 0;
                }
            }
        }
       i.fa {
            font-size: 20px;
        }
    .copyright {
      font-size: 12px;
      color: #9fa5a8;
      width: 500px;
      float: left;
      padding: .5rem 0;
    }
}
.footer-links {
    float: right;
    padding: 0 1rem 0 0;
}