/*
*
* Buttons ***********************************************************************
*
*/


.btn {
    color: $white;
    background-color: #101e26;
    border: solid 1px #000000;
    width: 220px;
    padding: .7rem;
    &:hover {
        background: $white;
        color: #000;
        border: 1px solid $white;
    }
}
ul.buttons {
    list-style: none;
    width: 450px;
    margin: 0 auto;
}
a.button {
    color: $white;
}
a.button.outline-btn {
    color: #0087C8;
}
.button {
    margin: 10px 10px 10px 0;
    font-family: Geomanist Book;
    padding: 12px 35px 10px;
    min-width: 200px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    float: left;
    text-align: center;
    &:hover {
        color: $white;
        opacity: 0.7;
    }
}
/*
*
* Primary ***********************************************************************
*
*/
.primary-btn {
    background: #1488C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
/*
*
* Secondary ***********************************************************************
*
*/
