/*
*
* primary-navigation
*
*/
.primary-nav {
    background-color: transparent;
    box-shadow: none;
    height: $nav-height;
    width: $full-width;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 9999;
    ul li {
        display: inline;
        padding: 0 24px 0 0;
        a {
            font-size: 14px;
            line-height: 1.71;
            text-align: left;
            color: $nav-links;
            text-decoration: none;
        }
    }
}

.primary-nav-filled {
    background-color: $bg-nav;
    box-shadow: $nav-shadow;
    height: $nav-height;
    width: $full-width;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 9999;
    ul li {
        display: inline;
        padding: 0 24px 0 0;
        a {
            font-size: 14px;
            line-height: 1.71;
            text-align: left;
            color: $nav-links;
            text-decoration: none;
        }
    }
}