name: build

on:
  push:
    # needs push event on default branch otherwise cache is evicted when pull request is merged
    branches:
      - master
  pull_request:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  website:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build
        uses: docker/bake-action@v2
        with:
          targets: release
          set: |
            *.cache-from=type=gha,scope=build-website
            *.cache-to=type=gha,scope=build-website,mode=max
